[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
paho-mqtt = "*"
neo4j = "*"
minio = "*"
pyspark = "==3.5.5"
pyarrow = "*"
pandas = "*"
requests = "*"
httpx = "*"
sqlalchemy = "==2.0.23"
colorlog = "*"

[dev-packages]

[requires]
python_version = "3.12"
